html, body {
  height: 100vh;
}
  body {
  background-color: #2E2E2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
span {
  color: #D1D1D1;
  font-family: 'Quicksand', sans-serif;
  font-size:24px;
}
button {
  border: none;
  background-color: #7FE3C7;
  height: 30px;
  width: 50px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #2E2E2E;
  cursor: pointer;
}
#parenthetical {
  color: #D1D1D1;
  font-size: 14px;
  margin: 5px;
}
.empty {
  padding: 0 5% 5px;
  border-bottom: 1px solid #D1D1D1;
  margin-top: 10px;
  margin-bottom: 30px;
}
.empty:empty {
  height: 1.5em;
}
@media (max-width: 500px) {
  .empty {
    padding: 0 8% 5px;
  }
}
.activity {
  position: relative;
  text-align: center;
}
.activity:after {
  position: absolute;
  content: "activity";
  display: block;
  font-size: 14px;
  font-family: initial;
  bottom: -22px;
  text-align: center;
  width: 100%;
  left: 0;
}
.verb {
  position: relative;
  text-align: center;
}
.verb:after {
  position: absolute;
  content: "verb";
  display: block;
  font-size: 14px;
  font-family: initial;
  bottom: -22px;
  text-align: center;
  width: 100%;
  left: 0;
}
.noun {
  position: relative;
  text-align: center;
}
.noun:after {
  position: absolute;
  content: "noun";
  display: block;
  font-size: 14px;
  font-family: initial;
  bottom: -22px;
  text-align: center;
  width: 100%;
  left: 0;
}
.style {
  font-family: 'Lobster', cursive;
  font-size: 28px;
}